<div class="container">
<div class="jumbotron">
<div class="page-header">
<h1>Burghers!</h1>
</div>


<div class="row" >

  <div class="col-md-6 col-md-offset-1">
    <img src="../images/Group_of_Burghers.jpg" style="width:604px;" class="img-circle">
<h5>The Burghers of Calais by Auguste Rodin</h5>
</div>

</div>


<div class="row" >
  <div class="col-md-6"  >
    <h3>Yet to be eaten burghers!</h3>
    <ul class="list-group">
      {{#each burgers as |burger|}}
        {{#unless burger.devoured}}
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-6">
            {{burger.name}}
              </div>
<div class="col-md-6">
          <form action="/api/burgers/{{burger.id}}/eat" method="post">
              <input type="hidden" name="devoured" value="true">
              <button type="submit" class="btn btn-success btn-xs">EAT ME!</button>
            </form>
  </div>
  </div>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>


  <div class="col-md-6">
    <h3>Burghers that are devoured!</h3>
    <ulclass="list-group">
      {{#each burgers as |burger|}}
        {{#if burger.devoured}}
          <li class="list-group-item">
            {{burger.name}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>

<hr>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

<h3>New Burgher!</h3>
<form class="create-update-form" action="/api/burgers" method="POST">

  <div class="input-group">
       <input type="text" class="form-control" placeholder="Yummy deliciousness..." id="burger-name" name="name" value="">
       <span class="input-group-btn">
         <button class="btn btn-success" type="submit">Add Burgher!</button>
       </span>
     </div>
</form>

</div>
</div>
